.profile__header {
  display: flex;
  flex-wrap: wrap;
}


@media screen and (max-width: 913px) {
  .profile__header {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

@media screen and (max-width: 614px) {
  .profile__header {
    padding-top: 26px;
  }
}
