.profile__add-post {
  background-image: url(../../../images/plus.svg);
  margin: 0;
  padding: 0;
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 22px;
  transition: opacity 0.4s;
  margin-left: auto;
}


.profile__add-post:hover {
  opacity: 0.6;
}


@media screen and (max-width: 913px){
  .profile__add-post {
    background-size: 16px 16px;
    width: 110px;
    height: 35px;
  }
}

@media  screen and (max-width: 614px) {
  .profile__add-post {
    width: 282px;
    height: 50px;
    margin: 0;
  }
}
